html, body {
    margin: 0;
    font-family: "Jersey25-Regular", Helvetica, sans-serif;
    background: transparent;
    color: #301350e4;
    text-size-adjust: 100%;
    text-shadow: tomato;
    font-style: normal;
    font: weight 200px;;
}

.highlight {
  font: weight 900px;;
  color: #c218cbe4;
}

h1{
  font-family: "Jersey25-Regular", sans-serif;
  text-align: center;
  font-size: 5rem;
  line-height: 0.01;
}
h2{
  font-family: "Jersey25-Regular", sans-serif;
  text-align: center;
  font-size: 1.5rem;
}
h3{
  font-size: 1.5rem;
  line-height: 1.6;
}

p em {
  font-weight: 600;
  color: #444;
}

p {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 1rem;
}

em {
  font-style: oblique;
  color: #666;
}
.contact-buttons {
  margin-top: 1rem;
  display: flex;
  gap: 0.5rem;
}

.contact-btn {
  display: inline-block;
  padding: 0.4rem 0.8rem;
  background: #113790;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  font-size: 0.9rem;
  transition: background 0.2s;
}

.contact-btn:hover {
  background: #0ba439;
}
.doc-like {
  width: 70vw;       
  margin: 40px auto;       
  padding: 40px 50px;
  background: #e8fcff;
  border-radius: 12px;
  box-shadow: 0 6px 20px rgba(0,0,0,0.4);
  box-sizing: border-box;
}
.canvasContainer {
    width: 900px;
    height: 750px;      
    margin: 40px auto;       
    padding: 40px 50px;
    background: hsla(60, 2%, 9%, 0.945);
    border-radius: 12px;
    box-shadow: 0 6px 20px rgba(0,0,0,0.4);
    box-sizing: border-box;
}
.renderCanvas {
  width: 100%;
  height: 480px;          
  display: block;
  border-radius: 8px;
  background: #000;
}

@font-face {
  font-family: "StackSansNotch";
  src: url("../fonts/StackSansNotch.ttf") format("truetype");
  font-weight: 100 900;  
  font-display: swap;
}

@font-face {
  font-family: "Jersey25-Regular";
  src: url("../fonts/Jersey25-Regular.ttf") format("truetype");
  font-weight: 150 950;  
  font-display: swap;
}

#bg-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    filter: blur(1.5px);
    object-fit: cover;
    z-index: -1;
}
